@import 'assets/colors', 'assets/mixins';

* {
  @include normalize;
}

body {
  background-color: $main-color;
  color: $secondary-color;
}

h1,
h2 {
  @include header;
}

h1 {
  padding: calc(70px + 5.5vh) 5% 0 5%;
}

h2 {
  padding: 40px 5% 0 5%;
  margin-bottom: 32px;
}

p {
  @include text(400);

  font-size: 14px;
  padding: 0;
  margin-top: 3vh;
}

ul {
  list-style-type: none;
}

.burger {
  position: fixed;
  top: 25px;
  right: 5%;
  font-size: 40px;
  transition: 0.2s;
}

.burger:hover {
  color: $action-bg;
}

.hello {
  background-image: url(../public/media/image_geometry_1.svg);
  background-repeat: no-repeat;
  padding-bottom: 7vh;
  
  p {
    max-width: 500px;
    padding: 0 5%;
  }
}

.collab-btn {
  @include btn-primary;
  @include text(500);
  @include align-x;
  @include align-y;

  font-size: 16px;
  line-height: 24px;
  width: 90%;
  max-width: 400px;
  height: 50px;
  margin: 7vh auto;
}

.collab-btn:hover {
  @include btn-primary-hover;
}

#half-mosaic {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.portfolio {
  padding-bottom: 56px;
}

.project-img,
.project-info {
  max-width: 600px;
  margin: auto;
}

.project-img {
  display: block;
  width: 100%;
}

.project-info {
  background-color: $secondary-color;
  color: $main-color;
  padding-bottom: 20px;
}

.project-title {
  @include text(300);

  font-size: 20px;
  line-height: 16px;
  padding-top: 20px;
  margin: 0 5% 16px 5%;
}

.tech-list {
  display: flex;
  margin: 0 5% 20px 5%;

  li {
    @include text(300);
    @include align-x;
    @include align-y;

    font-size: 12px;
    line-height: 10px;
    background-color: $badge-fill;
    color: $secondary-color;
    padding: 6px;
    margin-right: 10px;
  }
}

.project-btn {
  @include btn-secondary;
  @include text(500);
  @include align-y;

  font-size: 16px;
  line-height: 24px;
  width: 185px;
  height: 44px;
  padding: 10px;
  margin: 0 5%;

  .arrow-right {
    font-size: 20px;
    margin-left: 12px;
  }
}

.project-btn:hover {
  @include btn-primary-hover;
}
